.presentation {
    text-align: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h3 {
    text-shadow: 0 0 3px #000;
}

.presentation h3 {
    color: #afaeae;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.presentation img {
    filter: drop-shadow(0 0 75px var(--main-focus)) drop-shadow(0 0 5px #000);
    margin-bottom: 1rem;
}

