.default-img {
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
}

.rounded-img {
    border-radius: 50%;
    box-shadow: 0 0 3px #000;
}

.grid-item {
    height: 100%;
}

.dashboard {
    background-color: var(--dash-secondary-bg);
    box-shadow: 0 0 2px #000;
    height: 100%;
}

.success-status {
    color: var(--dash-error)
}

.error-status {
    color: var(--dash-success);
}